*,
::before,
::after {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", sans-serif,
    "Helvetica Neue";
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

h1,
h2,
h3,
h4 {
  padding: 0;
  margin: 0;
}

ol,
ul,
li {
  list-style: none;
  margin: 0;
  padding: 0;
  text-decoration: none;
}

p {
  margin: 0;
}

input {
  outline: none;
}

a,
:visited {
  text-decoration: none;
  color: inherit;
}

button {
  font-family: inherit;
  background-color: transparent;
  color: inherit;
  cursor: pointer;
  border: none;
}

.container {
  max-width: 1400px;
  margin-left: auto;
  margin-right: auto;
}
